{% extends 'base.html.twig' %}

{% block title %}{{ director.firstName }} {{ director.lastName }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ director.firstName }} {{ director.lastName }}</h1>
    <p class="text-muted">{{ director.nationality }}</p>

    <hr>

    <h3>Ses films :</h3>
    {% if director.director|length > 0 %}
        <div class="list-group">
            {% for movie in director.director %}
            <a href="{{ path('app_movie_show', {id: movie.id}) }}" class="list-group-item">
                <h5>{{ movie.title }}</h5>
                <p class="mb-0">{{ movie.releaseYear }} - {{ movie.genre }}</p>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun film.</p>
    {% endif %}

    <hr>
    <a href="{{ path('app_directors') }}" class="btn btn-secondary">Retour</a>
</div>
{% endblock %}
